<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="DEBUG"/>
      <layout class="org.apache.log4j.EnhancedPatternLayout">
         <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1.}] (%t:%x) %m%n"/>
      </layout>
   </appender>

   <category name="liquibase">
     <priority value="DEBUG"/>
   </category>

   <category name="com">
     <priority value="INFO"/>
   </category>

   <category name="org">
     <priority value="INFO"/>
   </category>

   <category name="io">
     <priority value="INFO"/>
   </category>

   <logger name="org.jooq">
      <level value="DEBUG"/>
   </logger>

   <category name="org.springframework">
      <priority value="WARN"/>
   </category>

   <root>
      <level value="DEBUG"/>
      <appender-ref ref="CONSOLE"/>
   </root>

</log4j:configuration>