[submodule "deps/jooq"]
	path = deps/jooq
	url = https://github.com/ibuildthecloud/jOOQ.git
[submodule "deps/liquibase"]
	path = deps/liquibase
	url = https://github.com/ibuildthecloud/liquibase.git
[submodule "deps/gdapi-java-server"]
	path = deps/gdapi-java-server
	url = https://github.com/ibuildthecloud/gdapi-java-server.git
[submodule "deps/jedis"]
	path = deps/jedis
	url = https://github.com/ibuildthecloud/jedis.git
