/.bash_history
/.gitconfig

/.cache
/.idea
/.m2

.classpath
.project
.settings

dist
docs/build
resources/content/db/mysql/cattle_dump*.sql
resources/content/db/dump-*.xml
runtime
target
tests/integration/.idea/
tests/integration/.tox/
tests/integration/MANIFEST

*.egg-info
*.launch
*.pyc
*.pyo
*.swp
*~
