/.bash_history
/.gitconfig

/.cache
/.dapper
/.idea
/.m2

code/packaging/app/keys.properties

.classpath
.project
.settings
code/packaging/app/keys.properties
code/framework/encryption/keys.properties
code/packaging/app/DATA
code/packaging/app/repo.json
dist
docs/build
resources/content/db/mysql/cattle_dump*.sql
resources/content/db/mysql/cattle_dump*.sql.gz
resources/content/db/dump-*.xml
resources/local
runtime
target
tests/integration*/.idea/
tests/integration*/.tox/
tests/integration*/MANIFEST
tests/integration-v1/.cache/
tests/integration/.cache/
.venv
.idea
*.iml
*.egg-info
*.launch
*.pyc
*.pyo
*.swp
*~

code/packaging/app/.existing
