__pycache__

.cache
.classpath
.idea
.project
.settings
.tox

code/packaging/app/db-*
dist
MANIFEST
resources/content/db/mysql/dstack_dump*.sql
resources/content/dstack-local.properties
resources/content/modules.properties
runtime
target

*.launch
*.log
*.pyc
*.pyo
*.swp
