<%inherit file="default_template.tmpl" />

<%block name="graphics" >\
        <graphics type='spice' port='-1' tlsPort='-1' autoport='yes' />
        <video>
            <model type="cirrus"/>
        </video>
</%block>\
