.nav LI {
  padding: 0 10px;
}

.host-wrapper {
  float: left;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #eee;
  background-color: #fafafa;
}

.host-name {
  padding: 5px;
  padding-bottom: 0;
  font-weight: bold;
}

.host-contents {
  padding: 5px;
  background-color: white;
  max-width: 125px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hide-names .inst-name {
  display: none;
}

.hide-names .inst {
  float: left;
  background-color: white;
}

.inst {
  display: block;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1px;
  margin: 1px;
  min-width: 3px;
  min-height: 3px;
  font-size: 11px;
  color: #333;
}

.inst-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
}

.note {
  border: 1px solid #e3e3e3;
  background-color: #f5f5f5;
  padding: 2px 5px;
  margin-bottom: 2px;
}
