cattle==0.5.3
git+https://github.com/rancher/gdapi-python.git@6e5031dde7b7da0a91efa9204a0a392f44854b0d
websocket-client==0.23.0
PyJWT==1.4.0

flake8==2.5.1
pytest==3.0.2
pytest-repeat
pytest-xdist
pyyaml
netaddr
requests
