<included>
    <define name="gelfHost" class="io.cattle.platform.logback.ArchaiusProperty" >
        <name>logback.output.gelf.host</name>
    </define>

    <define name="gelfPort" class="io.cattle.platform.logback.ArchaiusProperty" >
        <name>logback.output.gelf.port</name>
    </define>

    <appender name="GELF" class="me.moocar.logbackgelf.GelfAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${aggregationLevel}</level>
        </filter>
        <facility>cattle</facility>
        <graylog2ServerHost>${gelfHost}</graylog2ServerHost>
        <graylog2ServerPort>${gelfPort}</graylog2ServerPort>
        <useLoggerName>true</useLoggerName>
        <useThreadName>true</useThreadName>
        <chunkThreshold>1000</chunkThreshold>
        <messagePattern>%m %xEx</messagePattern>
        <shortMessagePattern>%m %xEx{2}</shortMessagePattern>
        <includeFullMDC>true</includeFullMDC>
        <staticAdditionalField>server_id:${serverId}</staticAdditionalField>
    </appender>

    <root>
        <appender-ref ref="GELF" />
    </root>
</included>