BODY {
  background-color: #f5f5f5;
}

HEADER {
  z-index: 2;
}

HEADER.navbar {
  margin-bottom: 0;
}

SECTION {
  padding: 20px;
}

.footer-actions {
  margin: 20px 0;
  text-align: center;
}

.input-list {
  margin: 5px 0;
}

.loading {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  width: 250px;
  padding: 20px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  color: #eee;
  z-index: 13;
}

.loading H3 {
  font-family: Helvetica;
}

.no-resize {
  resize: none;
}

.fixed {
  table-layout: fixed;
}

.clip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
}

.force-wrap {
  word-wrap: break-word;
}

.main-jumbotron {
  min-height: 300px;
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 0; 
  background-repeat: no-repeat; 
  background-position: top center; 
  color: white;
  padding: 1px 30px;
}

.radio-well {
  padding: 10px;
  font-size: 14px;
}

.radio-well LABEL {
  font-weight: normal;
  display: block;
  /* the radio button gets clipped with no padding */
  padding-left: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
}

.text-mono {
  font-family: Consolas, "Andale Mono", "Lucida Console",  Monaco, "Courier New", Courier, monospace;
}


.jGrowl.top-right {
  z-index: 1;
  padding-top: 52px;
  background-color: rgba(0,0,0,0.25);
  border-bottom-left-radius: 10px;
}

.jGrowl .jGrowl-notification,
.jGrowl .jGrowl-closer {
  opacity: 1;
  color: black;
}

.jGrowl .jGrowl-notification .jGrowl-header {
  font-size: 1em; 
}

.jGrowl .jGrowl-closer {
  color: black;
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}

.jGrowl .error {
  border: 1px solid #FF9494;
  background: repeating-linear-gradient(
    135deg,
    #FF9494,
    #FF9494 10px,
    #FFAEAE 10px,
    #FFAEAE 20px
  );
}

.jGrowl .message {
  border: 1px solid #FF9494;
  background: repeating-linear-gradient(
    135deg,
    #3498DB,
    #3498DB 10px,
    #4EB2F5 10px,
    #4EB2F5 20px
  );
}



BODY.home {
  background-image: url('image/cows.jpg');
  background-position: top-left;
  background-repeat: no-repeat;
  background-color: #83B4F4;
  background-attachment:fixed;
}


BODY.login {
  background-image: url('image/cows.jpg');
  background-position: top-left;
  background-repeat: no-repeat;
  background-color: #83B4F4;
  background-attachment:fixed;
}

.login-form {
  width: 400px;
  margin: 100px auto 0;
}


.overlay {
  z-index: 11;
  position: absolute;
  background-color: #f5f5f5;
  top: 0;
  left: 20px;
  right: 20px;
  padding: 0 20px 0 20px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
}

.overlay-small {
  left: 25%;
  right: 25%;
}

.underlay {
  z-index: 10;
  display: none;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.hosts {
  overflow: visible;
  white-space: no-wrap;
}

.host-column {
  width: 290px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.physical-host-multiple {
  border: 1px dashed #aaa;
  margin: -1px;
  border-radius: 10px;
  padding: 10px;
  background-color: #eaeaea;
  /* public/image/striped.gif */
  background-image: url(data:image/gif;base64,R0lGODlhBgAGAIABAP///wAAACH5BAEKAAEALAAAAAAGAAYAAAIJRGKXibrXYgQFADs=);
}

.host {
  margin-bottom: 20px;
}

.physical-host .host:last-of-type {
  margin-bottom: 0;
}

.host .well {
  position: relative;
  margin: 0;
  padding: 9px;
  padding-bottom: 39px;
  background-color: #e3e3e3;
  border-color: #d2d2d2;
  border-radius: 5px;
  cursor: default;
}

.host LABEL {
  display: block;
  position: relative;
}

.host .host-name,
.instance .instance-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.host:hover .host-name,
.instance:hover .instance-name {
  margin-right: 47px;
}

.host .host-name {
  margin-left: 10px;
}

.host .host-actions,
.host .instance-actions {
  position: absolute;
  top: 0;
  right: 0;
}

.host .instance-actions {
  padding: 5px 10px 5px 0;
}

.host .instance {
  position: relative;
  border: 1px solid #eee;
  margin: 2px 0;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 1px 1px 1px #d2d2d2;
}

.host .instance:hover {
  background-color: #ffeb8a;
}

.host .add-to-host {
  border-top: 1px solid #e3e3e3;
  background-color: #3498db;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  cursor: hand;
}

.host .add-to-host:hover {
  background-color: #217dbb;
}

.no-touch .host .host-actions,
.no-touch .host .instance-actions {
  display: none;
}

.host:hover .host-actions {
  display: block;
}

.host .instance:hover .instance-actions {
  display: block;
}


.host .add-to-host A {
  color: white;
}

.add-host .well {
  border-style: dotted;
  border-width: 3px;
  background-color: #eee;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.host .instance .progress {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 4px;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@-webkit-keyframes progress-bar-stripes-reverse {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes progress-bar-stripes-reverse {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

.host .instance .progress-striped .progress-bar {
  -webkit-animation: progress-bar-stripes-reverse 1.5s linear infinite;
  animation: progress-bar-stripes-reverse 1.5s linear infinite;

  background-image: -webkit-linear-gradient(45deg, 
    rgba(255, 255, 255, 0.55) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.55) 50%,
    rgba(255, 255, 255, 0.55) 75%,
    transparent 75%,
    transparent);
  background-image: linear-gradient(45deg,
    rgba(255, 255, 255, 0.55) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.55) 50%,
    rgba(255, 255, 255, 0.55) 75%,
    transparent 75%, 
    transparent);

  background-size: 40px 40px;
}

.instance-ip {
  position: absolute;
  bottom: 5px;
  right: 10px;
}






.table .info-row TD {
  padding-bottom: 0;
}

.table .key-row TD {
  border-top: 0;
  padding-top: 0;
}
