<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1" metadata-complete="true" >

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>io.cattle.platform.app.AppConfig</param-value>
    </context-param>

   <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.ryantenney.metrics.spring.servlets.MetricsServletsContextListener</listener-class>
    </listener>

   <listener>
        <listener-class>io.cattle.platform.spring.web.StartupListener</listener-class>
    </listener>

    <filter>
        <filter-name>PreProxy</filter-name>
        <filter-class>io.cattle.platform.iaas.api.servlet.filter.ProxyPreFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PreProxy</filter-name>
        <url-pattern>/v1/proxy/*</url-pattern>
        <url-pattern>/v2-beta/proxy/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>Catalog</filter-name>
        <filter-class>io.cattle.platform.iaas.api.servlet.filter.ProxyFilter</filter-class>
        <init-param>
            <param-name>proxy</param-name>
            <param-value>http://localhost:8088</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Catalog</filter-name>
        <url-pattern>/v1-catalog/*</url-pattern>
    </filter-mapping>

	<filter>
        <filter-name>WebhookService</filter-name>
        <filter-class>io.cattle.platform.iaas.api.servlet.filter.ProxyFilter</filter-class>
        <init-param>
            <param-name>proxy</param-name>
            <param-value>http://localhost:8085</param-value>
        </init-param>
        <init-param>
            <param-name>redirects</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>parseform</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
    	<filter-name>WebhookService</filter-name>
        <url-pattern>/v1-webhooks/*</url-pattern>
        <filter-name>WebhookService</filter-name>
    </filter-mapping>

    <filter>
        <filter-name>Telemetry</filter-name>
        <filter-class>io.cattle.platform.iaas.api.servlet.filter.ProxyFilter</filter-class>
        <init-param>
            <param-name>proxy</param-name>
            <param-value>http://localhost:8114</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Telemetry</filter-name>
        <url-pattern>/v1-telemetry/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminAuthService</filter-name>
        <filter-class>io.cattle.platform.iaas.api.servlet.filter.ProxyFilter</filter-class>
        <init-param>
            <param-name>proxy</param-name>
            <param-value>http://localhost:8090</param-value>
        </init-param>
        <init-param>
            <param-name>redirects</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>parseform</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>roles</param-name>
            <param-value>admin,v1-admin</param-value>
        </init-param>
        <init-param>
            <param-name>rolesMethods</param-name>
            <param-value>POST</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthService</filter-name>
        <url-pattern>/v1-auth/config</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthService</filter-name>
        <url-pattern>/v1-auth/configs</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthService</filter-name>
        <url-pattern>/v1-auth/reload</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthService</filter-name>
        <url-pattern>/v1-auth/token</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthService</filter-name>
        <filter-class>io.cattle.platform.iaas.api.servlet.filter.ProxyFilter</filter-class>
        <init-param>
            <param-name>proxy</param-name>
            <param-value>http://localhost:8090</param-value>
        </init-param>
        <init-param>
            <param-name>redirects</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>parseform</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthService</filter-name>
        <url-pattern>/v1-auth/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ApiFilter</filter-name>
        <filter-class>io.cattle.platform.api.servlet.ApiRequestFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>ignore-prefixes</param-name>
            <param-value>/static,/ping,/healthcheck</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ApiFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>HealthCheck</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.HealthCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ping</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.PingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ping</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HealthCheck</servlet-name>
        <url-pattern>/healthcheck</url-pattern>
    </servlet-mapping>

</web-app>