<included>
    <appender name="SYNC_LOGSTASH_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${aggregationLevel}</level>
        </filter>
        <file>${logDir}logstash.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}logstash${fileNamePattern}</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <appender name="LOGSTASH_FILE" class="ch.qos.logback.classic.AsyncAppender" >
        <appender-ref ref="SYNC_LOGSTASH_FILE" />
    </appender>

    <root>
        <appender-ref ref="LOGSTASH_FILE" />
    </root>
</included>
